.container {
    min-height: 100vh;
    background-color: #010F18;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.decorativeShape {
  position: absolute;
  width: 80%;
  height: 140%;
  background-color: #FF9944;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(100px);
  z-index: 1;
  right: -40%;
  top: 50%;
  transform: translateY(-50%);
}

.formContainer {
  background-color: rgba(1, 15, 24, 0.95);
  padding: 20px;
  border: 3px solid #FF9944;
  border-radius: 4px;
  /* width: 18%; */
  width: 18vw;
  position: relative;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.radioGroup {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  justify-content: center;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.button {
  width: 50%;
  padding: 0.75rem;
  margin-left: 25%;
  background-color: #FF9944;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #ff8824;
}

.headerButtons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

.headerButton {
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.signUpBtn {
  background-color: #FF9944;
  color: white;
}
.errorContainer {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff4444;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 1rem;
}

.errorText {
  color: #ff4444;
  font-size: 0.875rem;
  margin: 0;
  text-align: center;
}