.input {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    outline: none;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }