.hall-details__wrapper {
  padding: 55px;
  height: calc(100% - 2 * 55px);
}

.hall-details__container {
  background-color: #010F18;
  display: flex;
  height: calc(100% - 2 * 50px);
  padding: 50px 0;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 85% 100%, 0% 100%);
}

.hall-details__preview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 60px;
  width: 50%;
  border-right: #fff 1px solid;
}

.hall-details__preview img {
  width: 100%;
}

.hall-details__preview h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.hall-details__preview button {
  background-color: #FF9944;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  text-align: center;
}

.hall-details__info {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  width: 50%;
  color: white;
}

.hall-details__info__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}